
/*
.login_container {
  background-image: url("../../images/land_bg.png");
}

.login_btn {
  border: 1px solid #757575;
  background-color: #2962FF;
  color: white;
  width: 100%;
  margin-top: 1em;
  box-shadow: 0 4px 2px -2px gray;
  padding:1em;
}

.login_form {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  background-color: #FAFAFA;
  padding: 3em;
  -moz-box-shadow: 0px 0px 80px #424242;
  -webkit-box-shadow: 0px 0px 80px #424242;
  box-shadow: 0px 0px 80px #424242;
}

.login_btn:hover {
  box-shadow: 0 8px 4px -4px #424242;
  background-color: #2979FF;
  color: white;
  text-decoration: none;
}

.login_field {
  width: 94%;
  padding: 1em;
  margin-bottom: 1em;
}
*/
