.trans_table > thead > tr > th, .trans_table > tbody > tr > td {
    padding: 1em;
}
  
.trans_table {
    margin: 0 auto;
    width:100%;
}


.load_btn {
    width: 60%;
    margin-top: 1em;
    height: 2.5em;
    background-color: #0D47A1;
    color: white;

}

.load_btn:hover {
    transition: 200ms;
    box-shadow: 0 4px 2px -2px gray;
    background-color: #1565C0;
}

.btn_wrapper {
    text-align: center;
}
  

  
  