body {
  margin: 0;
  padding: 0;
  font-family: "Monaco", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
  font-size: 30px;
}

.form_btn {
  width: 100%;
  margin-top: 1em;
  height: 2.5em;
  background-color: #0D47A1;
  color: white;

}

.form_btn:hover {
  transition: 200ms;
  box-shadow: 0 4px 2px -2px gray;
  background-color: #1565C0;
}

.center {
  text-align: center;
}

.bottom_title {
  text-align: center;
  margin-top: 1em;
}

 th {
  border-bottom: 1px solid black;
  background-color: #0D47A1;
  color:white;
} 

tr:nth-child(even) {
  background-color: #E3F2FD;

}

tr {
  background-color: #FAFAFA;
}

.spacing {
  margin-bottom: 2em;
  margin-top: 2em;
}
.t-spacing {
  margin-bottom: 1em;
}